@font-face {
    font-family: "InterMedium";
    src: url("../fonts/InterMedium.otf");
}

@font-face {
    font-family: "InterSemiBold";
    src: url("../fonts/InterSemiBold.otf");
}

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "InterMedium", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #F9F9F9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 129px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu a {

    color: #464646;
    text-decoration: none;
    margin-right: 42px;
}

.buttonWh {
    border: 0;
    color: #464646;
    background-color: #FFF;
    border-radius: 10px;
    padding: 12px 15px 12px 14px;
    max-width: 210px;
    max-height: 48px;
    font-family: "InterMedium", sans-serif;
    cursor: pointer;
}

.hero {
    background-color: #F9F9F9;
    padding-bottom: 104px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__img {
    margin-bottom: 35px;
}

.hero__title {
    font-family: "InterSemiBold", sans-serif;
    font-size: 40px;
    max-width: 1078px;
    margin-bottom: 33px;
    background: linear-gradient(90.79deg,
            #000000 40.4%,
            #666666 69.4%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;

}

.hero__description {
    max-width: 1104px;
    margin-bottom: 46px;
}

.hero__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 57px;
    color: #000;
}

.hero__item {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.hero__item:nth-child(1),
.hero__item:nth-child(2),
.hero__item:nth-child(3) {
    margin-bottom: 12px;
}

.hero__item:not(:last-child) {
    margin-right: 26px;
}

.hero__item:nth-child(1)::after,
.hero__item:nth-child(2)::after,
.hero__item:nth-child(4)::after {
    content: "";
    display: inline-block;

    width: 6px;
    height: 6px;

    margin-left: 27px;

    background-color: #FF0000;
    border-radius: 50%;
}

.button {
    max-width: 210px;
    max-height: 48px;
    border-radius: 10px;
    border: 0;
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px 15px 12px 14px;
    cursor: pointer;
}

.aboutCompany__container {
    text-align: center;
}

.logoDivider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutCompany__logoTransparent {
    margin: 103px 0 61px 0;
}

.section-title {
    font-family: "InterSemiBold", sans-serif;
    font-size: 40px;
    background: linear-gradient(90.79deg,
            #000000 40.4%,
            #666666 69.4%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
    margin-bottom: 33px;
}

.section-description {
    max-width: 1104px;
    margin-bottom: 43px;
}

.aboutCompany__button {
    margin-bottom: 46px;
}

.gallery-grid {
    margin-bottom: 113px;
}

.security {
    background-color: #F9F9F9;
}

.security__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.security__topology {
    margin-top: 39px;
}

.security__title {
    font-family: "InterSemiBold", sans-serif;
    font-size: 40px;
    background: linear-gradient(90.79deg,
            #000000 40.4%,
            #666666 69.4%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
    margin-bottom: 33px;
}

.security__description {
    margin-bottom: 46px;
    max-width: 1104px;
}

.security__gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37px;
}

.security__button {
    margin-top: 92px;
    margin-bottom: 147px;
}

.videoAnalytics__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.videoAnalytics__logoTransparent {
    margin: 122px 0 92px 0;
}

.videoAnalytics__title {
    font-family: "InterSemiBold", sans-serif;
    font-size: 40px;
    margin-bottom: 33px;
}

.videoAnalytics__description {
    max-width: 1065px;
    margin-bottom: 91px;
}

.videoAnalytics__gallery {
    display: flex;
    gap: 18px;
}

.videoAnalytics__button {
    margin-top: 91px;
    margin-bottom: 173px;
}

.antiTheft {
    background-color: #F9F9F9;
}

.antiTheft__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.antiTheft__title {
    font-family: "InterSemiBold", sans-serif;
    font-size: 40px;
    margin-top: 165px;
    margin-bottom: 30px;
}

.antiTheft__description {
    max-width: 938px;
    margin-bottom: 62px;
}

.antiTheft__gallery {
    display: flex;
    gap: 10px;
}

.antiTheft__gallery-secondary {
    display: flex;
    gap: 10px;
    margin-top: 18px;
}

.antiTheft__button {
    margin-top: 91px;
    margin-bottom: 148px;
}

.itEquipment__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.itEquipment__logoTransparent {
    margin: 125px 0 54px 0;
}

.itEquipment__title {
    font-family: "InterSemiBold", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}

.itEquipment__description {
    max-width: 976px;
    margin-bottom: 62px;
}

.itEquipment__description span {
    display: block;
}

.itEquipment__button {
    margin-bottom: 62px;
}

.itEquipment__gallery {
    display: flex;
    gap: 31px;
    margin-bottom: 208px;
}

.techSupport {
    background-color: #F9F9F9;
}

.techSupport__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.techSupport__title {
    font-family: "InterSemiBold", sans-serif;
    font-size: 40px;
    margin-top: 96px;
    margin-bottom: 30px;
}

.techSupport__description {
    max-width: 822px;
    margin-bottom: 91px;
}

.techSupport__gallery {
    display: flex;
    gap: 16px;
}

.techSupport__button {
    margin-top: 91px;
    margin-bottom: 84px;
}

.advantages {
    background: #F6F6F6;
    padding-top: 181px;
}

.advantages__header {
    text-align: center;
}

.advantages__title {
    font-size: 64px;
    font-family: "InterSemiBold", sans-serif;
    margin-top: 145px;
    margin-bottom: 53px;
    text-align: center;
}

.advantages__list {
    display: grid;
    gap: 17px;
    list-style: none;
    margin-bottom: 112px;
}

.advantages__item {
    display: flex;
    justify-content: space-between;
    background: #F9F9F9;
    border-radius: 21px;
    padding: 30px 29px 26px 47px;

}

.advantages__text {
    font-size: 24px;
}

.advantages__text span {
    display: block;
    font-size: 24px;
}

.advantages__media {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 124px;
}